@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?psodzf');
    src:  url('fonts/icomoon.eot?psodzf#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?psodzf') format('truetype'),
      url('fonts/icomoon.woff?psodzf') format('woff'),
      url('fonts/icomoon.svg?psodzf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-circle-with-cross:before {
    content: "\e901";
  }
  .icon-cross:before {
    content: "\e902";
  }
  .icon-menu:before {
    content: "\e900";
  }